#modelId.modal.fade(tabindex='-1' role='dialog' aria-labelledby='modelTitleId' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title Modal title
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                | You are about to download said files, Continue?
            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                a.btn.btn-primary(name='' id='' href='/files/Shaggy_zoinks_face.jpg' role='button') Download