nav.navbar.navbar-expand.navbar-light.bg-light.d-flex
    .nav.navbar-nav
        a.nav-item.nav-link.active(href='/')
            | Memer Co.
            span.sr-only (current)
        a.nav-item.nav-link(href='downloads') Downloads
    .nav.navbar-nav.ml-auto.ngroup
        a.btn.btn-outline-info.registerbtn(href='register' role='button') register
        a.btn.btn-outline-primary.loginbtn(href='login' role='button') login